/target
/target/*
/target/**
*/target
*/target/*
*/target/**
**/target
**/target/*
**/target/**
Cargo.lock
*/Cargo.lock
**/Cargo.lock
xor-model.bin
mnist-model.bin
intricate-macros/Cargo.lock